@import '../../assets/styles/variables.scss';

.header {

  &-container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      margin: 0px 60px;
    }

    @media (max-width: 768px) {
      margin: 0px 32px;
    }

    @media (max-width: 436px) {
      margin: 0px 16px;
    }

    @media (max-width: 360px) {
      max-width: 100%;
    }
  }

  &-logo {
    height: 26px;
  }

  &-nav {
    margin-top: 2px;

    & ul {
      display: flex;
      margin: 0;
      padding: 0;

      & li {
        list-style: none;
        &:nth-child(1){
          margin-right: 10px;
          @media (max-width: 1024px) {
            margin-right: 12px;
          }
          & a {
            padding: 6px 30px;
          }
        }
        & a {
          padding: 6px 22px;
          text-decoration: none;
          color: $black;
          background: $primary;
          border-radius: $border-radius;
          -webkit-border-radius: $border-radius;
          -moz-border-radius: $border-radius;
          -ms-border-radius: $border-radius;
          -o-border-radius: $border-radius;
}
      }
    }
  }
}