@import 'main';

* {
  font-family: $main-font-famaly;
}

.container{
  max-width: 1168px;
  margin: 0 auto;

  
  @media (max-width: 1024px) {
    max-width: 1168px;
  }

  @media (max-width: 768px) {
    max-width: 704px;
  }

  
  @media (max-width: 360px) {
    max-width: 100%;
  }
}
