@import 'main';

* {
  font-family: $main-font-famaly, serif;
}

.container {
  background-color: $background-color;
  height: 100vh;
}

h1,h2 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

.inner-container {
  max-width: 1168px;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 1024px) {
    max-width: 1168px;
  }
}
